
<div class="container">

  <h1>Select your country</h1>

  <%= form_tag land_attach_owner_path, method: :put do %>
    <%= collection_select @land, :land_id, @lands, :id, :name %>
    <%= submit_tag "Validate"%>
  <% end %>

  <%# <%= button_to "Validate", land_path(200), method: :put, class:'btn btn-primary btn-md px-4 me-md-4' %>
</div>
