<div class="container">
<h1><%= @land.name %></h1>

<% if @status %>
  <p>Je suis un dictateur</p>

<% else %>
  <div class="container">
    <% @periodes.each do |periode| %>
        <div class='card mb-2 mt-2'>
          <div class="card-body d-flex justify-content-between">
            <div class="d-flex justify-content-between">
              <p><strong><%= periode.starts_the %></strong></p>
              <p>-</p>
              <p><strong><%= periode.ends_the %></strong></p>
            </div>
            <button class='btn btn-primary'>Rent</button>
          </div>
        </div>
    <% end %>
  </div>




<% end %>
</ul>
</div>
