<div class="container mt-5">
  <h1>Your rental period has been taken into account</h1>
  <%# <div class="grid"> %>

  <%# <% @land_periodes.each do | land_periode | %>
  <%# <div class="card"> %>
      <%= link_to "See my rental periods", land_path(current_user.land.id ), class: "btn btn-primary" %>
    <%# </div>
  </div>
  <% end %>

  <%# </div> %>
</div>
