<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="https://focus.telerama.fr/967x550/100/2021/03/29/ac05de5b-3946-4b60-9cb4-58b9a72461b8.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">DictaRent</h1>
    <p class="lead">Become a dictator during your vacation and live an unforgettable leadership experience</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <%= button_to "Register", new_user_registration_path, class:'btn btn-primary btn-lg px-4 me-md-2', method: :get%>
    </div>
  </div>
</div>
